*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.pic {
    background-image: url(assets/henry-co-3coKbdfnAFg-unsplash.jpg);
    background-repeat: no-repeat;
    background-size: contain;
  }